html {
    height: 100%;
    min-height: 800px;
    width: 100%;
    min-width: 1200px;
    font-size: 1em;
}

body {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.44);
    font-family: 'Adamina', serif;
}

header {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("header.jpeg");
    position: relative;
}

header h1 {
    padding: 10px 10px 0 10px;
    margin: 0;
    font-size: 3em;
    color: rgb(67, 67, 67);
}

header ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    list-style-type: none;
    padding: 0 ;
    margin: 0 0 0 0;
    border-bottom: solid 5px rgb(150, 191, 176);
}

header ul a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(27, 98, 98);
    display: table-cell;
    padding: 10px 0;
    margin: 10px;
    background: rgb(123, 224, 201);
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}


header ul a:hover {
    background-clip: padding-box;
    cursor: pointer;
    background: rgb(150, 191, 176);
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

#username {
    position: absolute;
    margin: 15px;
    text-align: right;
    top: 0;
    right: 0;
    color: rgb(67, 67, 67);
}

#username a {
    color: rgba(230, 53, 53, 0.5);
    text-decoration: none;
    transition: color 0.3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
}

#username a:hover {
    color: rgb(230, 53, 53);
    text-decoration: underline;
    transition: color 0.3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
}


#main {
    padding: 0;
    height: calc(100% - 185px);
    background: url("background.jpeg");
    z-index: -1;

/*        border: solid;*/
}

#container {
    height: 100%;
    width: 100%;
    background: rgba(173, 173, 173, 0.76);
}

.page_container {
    display: flex;
}

h2 {
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0;
    color: rgb(74, 88, 83)
}

.page {
    margin: 2em auto;
    height: 70%;
    min-height: 540px;
    width: 30%;
    min-width: 450px;
    display: inline;
    float: left;
}

.page h3 {
    margin: 5px 5px 5px 8px;
    color: rgb(65, 65, 65)
}

.page #user_info {
    font-weight: bold;
    font-size: 15px;
    height: 320px;
    width: 100%;
    margin: 10px 5px 5px 8px;
    padding: 10px;
    color: rgb(85, 85, 85);
    border: solid;
}

.page #user_info p {
    margin: 10px auto;
    font-size: 100%;
    float: left;
    width: 50%;
}

.page #user_info #info {
    color: rgb(78, 101, 95);
}
.page a {
    color: rgb(109, 109, 109);
    text-decoration: none;
    transition: color 0.3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
}

.page a:hover {
    color: rgb(87, 87, 87);
    text-decoration: underline;
    transition: color 0.3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
}

#home {
    margin-top: 1em;
    align-self: center;
}

#lessons {
    margin: 2em auto;
    padding: 10px 20px;
    height: 70%;
    min-height: 500px;
    width: 40%;
    min-width: 450px;
}

table {
    text-align: left;
    width: 100%;
    height 100%;;
    border: solid rgb(85, 85, 85);
    border-collapse: collapse;
}

th {
    height: auto;
    padding: 3px 5px;;
    color: rgb(47, 78, 68);
    width: 25%;
    border: solid rgb(85, 85, 85);
}

td {
    padding: 3px;
    border-right: solid rgb(85, 85, 85);
    color: rgb(95,95,95);
    height: auto;
}

.message {

    padding: 10px 10px 5px 8px;
    font-weight: bold;
    color: rgb(71, 92, 121);
}

.error {
    padding: 10px 10px 5px 10px;
    color: rgb(154, 27, 27);
    font-weight: bold;

}

.error ul {
    list-style-type:square;
    font-weight: 100;
    padding: 10px 30px;
    border: solid;
    border-radius: 5px;
    width: 50%;
}

form{
    height: auto;
    width: auto;
}

input {
    margin: 5px;
    padding: 10px;
    min-width: 170px;
    width: 40%;
    border: solid 4px rgba(124, 240, 255, 0);
    border-radius: 10px;
    font-family: inherit;
    font-weight: 900;
    font-size: 80%;
    background: rgba(168, 168, 168, 0.9);
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

input:hover {
    background: rgb(255, 255, 255);
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

input[type="submit"] {
    width: 100px;
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

input[type="submit"]:hover {
    background: rgb(100, 100, 100);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

input::-webkit-input-placeholder {
    color: rgb(95, 95, 95);
}

input:-moz-placeholder {
    color: rgb(95, 95, 95);
}

input::-moz-placeholder {
    color: rgb(95, 95, 95);
}

input:-ms-input-placeholder {
    color: rgb(95, 95, 95);
}

footer {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 10px;
    bottom: 0;
    clear: both;
    background: rgb(195, 222, 212);
    vertical-align: top;
    font-family: 'Adamina', serif;
    border-top: solid 5px rgb(150, 191, 176);
}

footer a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

footer img {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
}


@media screen, (max-width: 900px) {}
